<form id="mainform">
  <style type="text/css">
    .table-fixed-left table,
    .table-fixed-right table {
      border-collapse: collapse;
    }

    .table-fixed-right td,
    .table-fixed-right th,
    .table-fixed-left td,
    .table-fixed-left th {
      border: 1px solid #ddd;
      padding: 5px 5px;
    }

    .table-fixed-left {
      width: 200px;
      float: left;
      position: fixed;
      overflow-x: hidden;
      white-space: nowrap;
      text-align: left;
      border: 1px solid #ddd;
      z-index: 2;
    }

    .table-fixed-right {
      width: calc(100% - 225px);
      right: 15px;
      position: fixed;
      overflow-x: scroll;
      border: 1px solid #ddd;
      white-space: nowrap;
    }

    .table-fixed-right td,
    .table-fixed-right th {
      padding: 5px 10px;
    }
  </style>



  <div ng-cloak class="tabsdemoDynamicHeight ">

    <md-content>
      <md-tabs md-dynamic-height md-border-bottom>
        <!-- page 1 -->
        <md-tab label="ออกบัตร">
          <md-content class="md-padding" layout-xs="column" layout="row" style="height:90vH;">
            <!-- left -->
            <div flex-xs flex-gt-xs="35" layout="column">
              <!-- box left 1 menu-->
              <md-card>
                <div class="marginleft15 fonts fontbg7">HN:</div>
                <md-card-content>
                  <md-input-container>

                    <div flex layout="column">

                      <div>
                        <input type="text" class="form-control width25vW" ng-model="vm.msearch"
                          placeholder="search here" value="">
                      </div>
                      <div flex layout="row" class="">
                        <button type="text" class="btn btn-primary" ng-click="searchHN(vm.msearch)"
                          data-placement="bottom" title="HN" onmouseenter="$(this).tooltip('show')">
                          <!-- <span class="glyphicon glyphicon-search"></span> -->search
                        </button>
                      </div>
                    </div>
                  </md-input-container>
                </md-card-content>

              </md-card>
            </div>
            <!-- right -->
            <div flex-xs flex-gt-xs="65" layout="column" ng-if="show_searchright">
              <!-- box right 2  show case -->
              <md-card>
                <md-card-content>
                  <div id="opdcard" class="panel-heading  ">

                    <div class="well well-lg fontbg9">
                      <H4>Name: {{findpt.title}} {{findpt.name}} {{findpt.surname}}</H4>
                    </div>
                    <div class=" fontnm">Address: {{findpt.address}} {{findpt.district}} {{findpt.amphoe}}
                      {{findpt.province}} {{findpt.zipcode}} </div>
                    <div class=" fontnm">Email: {{findpt.email}} </div>
                    <div class=" fontnm">NationalID: {{findpt.nationalID}} </div>

                  </div>
                  <div flex layout="row" style="justify-content: center;">
                    <button type="text" class="btn btn-primary" ng-click="PrintMe('opdcard')" data-placement="bottom"
                      title="print" onmouseenter="$(this).tooltip('show')">
                      <span class="glyphicon glyphicon-print"></span>
                    </button>
                  </div>
                </md-card-content>

              </md-card>

            </div>
            <div flex-xs flex-gt-xs="65" layout="column" ng-if="show_searchright==false">
              <md-card ng-if="show_waiting_img">
                <md-card-content>
                  <div style="height:80%;" flex layout="column">
                    <div class="align-c">

                      <div class="alert alert-warning">
                        <strong>no case estimate (only package found)</strong>
                      </div>
                    </div>
                    <div>{{note_text}}</div>
                  </div>
                </md-card-content>

              </md-card>
            </div>
          </md-content>
        </md-tab>
        <!-- page 2 -->
        <md-tab label="จ่ายยา" ng-click="setup_p2()">
          <md-content class="md-padding" layout-xs="column" layout="row" style="height:90vH;">
            <!-- page 2.1 left -->
            <div flex-xs flex-gt-xs="35" layout="column">
              <md-card>
                <md-card-content>
                  <form>
                    <div flex layout="row">
                      <div>
                        <label for="inputHN">HN : </label>
                      </div>
                      <div><input type="text" class="form-control " id="inputHN" placeholder="xx-xxxxxx"
                          ng-model="vm.msearch">
                      </div>
                      <div><button type="submit" class="btn btn-primary" ng-click="searchHN(vm.msearch)">ค้นหา</button>
                      </div>
                    </div>
                  </form>
                  <div id="ptname" class="panel-heading  " ng-if="ptname_show">

                    <div class="well well-lg fontbg9">
                      <H4>Name: {{findpt.title}} {{findpt.name}} {{findpt.surname}}</H4>
                    </div>
                    <div class=" fontnm">Address: {{findpt.address}} {{findpt.district}} {{findpt.amphoe}}
                      {{findpt.province}} {{findpt.zipcode}} </div>
                    <div class=" fontnm">Email: {{findpt.email}} </div>
                    <div class=" fontnm">NationalID: {{findpt.nationalID}} </div>
                    <div><button type="submit" class="btn btn-primary" ng-click="prescribe(vm.msearch)">จ่ายยา</button>
                    </div>
                  </div>

                </md-card-content>
              </md-card>
            </div>
            <!-- page 2.2 right -->
            <div flex-xs flex-gt-xs="65" layout="column">
              <div ng-if="show_searchdrug">
                <md-card>
                  <div class="marginleft15 fontm fontr5">EN : {{EN}}</div>
                  <md-card-content>
                   
                    <div flex layout="row">
                     
                      <div>drug name :</div>
                      <div><input id="s_d" type="text" class="form-control width20vW" placeholder="" ng-model="vm.msearchdrug">
                      </div>
                      <div><button type="submit" class="btn btn-primary"
                          ng-click="searchdrug(vm.msearchdrug)">ค้นหา</button>
                      </div>
                      <div><button type="submit" class="btn btn-primary"
                        ng-click="clearsearchdrug()">clear</button></div>
                    </div>


                    <div ng-if="show_finddrug">
                      <div style="min-height: 40vH;max-height:40vH;overflow-y:scroll;">
                        <table class="table">
                          <tr ng-repeat="detail in finddrug | orderBy : 'tradename'">
                            <td class="text3">{{ $index + 1 }}</td>
                            <td class="align-l">{{detail.tradename}}</td>
                            <td class="align-c">
                              <button type="submit" class="btn btn-primary"
                                ng-click="select_drug(detail)">select</button>
                            </td>
                            <!-- <td class="align-l">{{detail.genericname}}</td>
                            <td class="align-l">{{detail.default_dose}}</td>
                            <td class="align-l">{{detail.UOM}}</td>
                            <td class="align-l">{{detail.form}}</td> -->
                          </tr>
                        </table>
                      </div>
                    </div>

                    <div ng-if="show_inputdrug">
                      <div flex layout="column" class="form-group">
                        <div class="fontm fontr5"> {{tradename}}</div>  
                        <Br>
                        <div flex layout="column">
                          <div class="padleft">
                            <input type="text" class="form-control width10vW" placeholder="default dose"
                              ng-model="defaultdose" value="defaultdose" />
                          </div> <Br>
                          <div flex layout="row">
                            <div class="padleft">
                              <input type="text" class="form-control width50vW" placeholder="frequency" ng-model="fq"
                                value="fq" />
                            </div>
                            <div><button type="submit" class="btn btn-primary"
                                ng-click="change_select_fq()">ค้นหา</button>
                            </div>
                          </div>
                          <Br>
                          <md-content flex layout-padding ng-if="show_select_fq">
                            เลือกวิธีใช้ :
                            <select name="repeatSelect" class="form-control width50vW" id="repeatSelect"
                              ng-model="y.locallangdesc">
                              <option ng-repeat="y in frequencies | orderBy:[ 'locallangdesc' ] "
                                value="{{y.locallangdesc}}">
                                {{y.locallangdesc}}</option>
                            </select>
                            <div><button type="submit" class="btn btn-primary"
                                ng-click="select_fq(y.locallangdesc)">เลือก</button>
                          </md-content>
                        </div>
                      </div>
                      <Br>
                      <div flex layout="row">
                        <div>
                          จำนวน:
                        </div>
                        <div><input type="text" class="form-control width20vW" placeholder="" ng-model="vm.amount">
                        </div>
                      </div>
                      <Br>
                      <div class="padleft">
                        <button class="btn btn-basic width10vW"
                          ng-click="save_drugdispense(tradename,defaultdose,fq,vm.amount,EN,HN)"
                          title="">
                          บันทึก
                          <!-- <span class="glyphicon glyphicon-save"></span> -->
                        </button>
                      </div>
                      <div class="marginleft15 fontm fontr5">{{lbl_savedrug}}</div>
                    </div>


                  </md-card-content>
                </md-card>
              </div>
              <div>
                <md-card>
                  <div ng-if="show_listorders">
                    <div class="align-c fontm fontr5"> Prescription:</div>
                    <div style="min-height: 60vH;max-height:60vH;overflow-y:scroll;">
                      <table class="table">
                        <tr ng-repeat="detail in allorders ">
                          <td class="text3">{{ $index + 1 }}</td>
                          <td class="align-l">{{detail.tradename}}</td>
                          <td class="align-l">{{detail.defaultdose}}</td>
                          <td class="align-l">{{detail.fq}}</td>
                          <td class="align-l">{{detail.amount}}</td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </md-card>
              </div>
            </div>
            <!-- page 2 show_print -->
            <div ng-if="p23" flex-xs flex-gt-xs="100" layout="column">
              <!-- box left 1 -->
              <md-card>
                <md-card-content>
                  <div ID='printableArea'>
                    <div>name: {{vm.name}}</div>
                    <div>HN: {{vm.HN}}</div>
                    <div>user name: {{username}}</div>
                    <div>NB: {{vm.NB}}</div>
                    <div>code:{{code}}</div>
                    <div>procedure: {{procedure}}</div>
                    <div>Med&supply: {{vm.mavgmed_sup}}</div>
                    <div>LAB&radio: {{vm.mavglab_radio}}</div>
                    <div>DF: {{vm.mavgdf}}</div>
                    <div>Others: {{vm.mavgothers}}</div>
                    <div>Room: {{vm.mavgroom}}</div>
                    <div>Total: {{vm.mavgmed_sup+vm.mavglab_radio+vm.mavgdf+vm.mavgothers+vm.mavgroom}}</div>
                  </div>
                  <div flex layout="row">

                    <button type="text" class="btn btn-success marginleft15" ng-click="PrintMe()"
                      data-placement="bottom" title="Save data" onmouseenter="$(this).tooltip('show')">
                      <span class="glyphicon glyphicon-print"></span>
                    </button>
                    <button type="text" class="btn btn-success marginleft15" ng-click="closeprint()"
                      data-placement="bottom" title="Save data" onmouseenter="$(this).tooltip('show')">
                      <span class="glyphicon glyphicon-backward"></span>
                    </button>
                  </div>
                </md-card-content>


              </md-card>

            </div>
          </md-content>
        </md-tab>
        <!-- page 3 -->
        <md-tab label="ลงทะเบียน ผู้ป่วยใหม่" ng-click="new_p1()">
          <!-- <md-content class="md-padding" style="height:90vH;"> -->
          <md-content class="md-padding" layout-xs="column" layout="row" style="height:90vH;">

            <div flex-xs flex-gt-xs="100" layout="column">
              <!-- input form -->
              <md-card>

                <md-card-content>
                  <div ng-if="show_p1==false" class="align-c fontxxl fontr5"> {{lbl_note}}</div>
                  <div ng-if="show_p1==true">
                    <div class="fontl fontbg10 fontbold">ลงข้อมูลผู้ป่วยใหม่</div>
                    <form>
                      <div flex-xs flex-gt-xs="100" layout="row">
                        <md-card flex-xs flex-gt-xs="50">
                          <div flex layout="row" class="form-group">
                            <div>
                              <label for="inputtitle">คำนำหน้า</label>
                            </div>
                            <div>
                              <input type="text" class="form-control width15vW" id="inputtitle" placeholder="title"
                                ng-model="vm.keytitle" ng-change="find_title(vm.keytitle)">
                            </div>
                            <div id="matchItem"> </div>
                            <div class="marginleft15" id="stitle"> </div>
                          </div>
                          <div flex layout="row">
                            <div>
                              <label for="inputpatientname">ชื่อ</label>
                              <input type="text" class="form-control width20vW" id="inputpatientname"
                                placeholder="patient name" ng-model="vm.patientname">
                            </div>

                            <div>
                              <label for="inputsurname">นามสกุล</label>
                              <input type="text" class="form-control width25vW" id="inputsurname" placeholder="Sur name"
                                ng-model="vm.surname">
                            </div>
                          </div>
                          <!-- <fieldset class="form-group"> -->
                          <div flex layout="row">
                            <div class="width10vW">เพศ</div>
                            <div class="width15vW">
                              <input style="height: 2em;width: 30%;" type="radio" name="gender" id="gender1"
                                value="male" ng-model="vm.type" checked>
                              <label style="font-size: 1.2em;">
                                ชาย
                              </label>
                            </div>
                            <div class=" width15vW">
                              <input style="height: 2em;width: 30%;" type="radio" name="gender" id="gender2"
                                value="female" ng-model="vm.type">
                              <label style="font-size: 1.2em;">
                                หญิง
                              </label>
                            </div>

                          </div>
                          <!-- </fieldset> -->
                          <div flex layout="row" class="form-group ">
                            <div class="width15vW">
                              <label for="inputnationalID">เลขที่บัตรประชาชน</label>
                              <input type="text" class="form-control" id="inputnationalID" placeholder="nationalID"
                                ng-model="vm.nationalID">
                            </div>
                            <div class="width30vW">
                              <label for="inputphone">เบอร์โทรศัพท์</label>
                              <input type="text" class="form-control" id="inputphone" placeholder="phone"
                                ng-model="vm.phone">
                            </div>
                          </div>
                          <div class="form-group width45vW">
                            <label for="inputEmail">Email</label>
                            <input type="text" class="form-control" id="inputEmail" placeholder="Email"
                              ng-model="vm.Email" ">
                                  </div>
                               </md-card>
                                <md-card flex-xs flex-gt-xs=" 50">
                            <div class="form-group">

                              <div flex layout="row">
                                <div>
                                  <label for="inputaddress">บ้านเลขที่/ถนน</label>
                                  <input type="text" class="form-control width15vW" id="inputaddress"
                                    placeholder="บ้านเลขที่/ถนน" ng-model="vm.road">
                                </div>
                                <div>
                                  <label for="inputaddress">ตำบล/อำเภอ/จังหวัด/รหัสไปรษณีย์</label>
                                  <input type="text" class="form-control width20vW" id="inputaddress"
                                    placeholder="พิมพ์เพื่อเลือกที่อยู่" ng-model="vm.keyaddress"
                                    ng-change="find_address(vm.keyaddress)">
                                </div>
                                <div class="marginleft5w">
                                  <button type="submit" class="btn btn-default width5vW "
                                    ng-click="clearaddress()">clear</button>
                                </div>
                              </div>
                              <div id="matchList"> </div>
                              <div id="saddress"> </div>
                            </div>
                        </md-card>
                      </div>
                      <!-- <div flex layout="row">
                        <div class="width75vW align-c">{{txt_show}}</div> -->
                      <div style="float: right;">
                        <button type=" submit" class="btn btn-primary width10vW"
                          ng-click="save_data(vm.patientname,vm.surname,vm.type,vm.road,vm.Email,vm.nationalID)"
                          ng-show="show_btnsave">บันทึก</button>
                      </div>
                      <!-- </div> -->
                    </form>
                  </div>
                </md-card-content>
              </md-card>
            </div>
            <!-- page 3 show_print -->
            <div ng-if=" " flex-xs flex-gt-xs="100" layout="column">
              <!-- box left 1 -->
              <md-card>
                <md-card-content>
                  <div ID='printableArea'>
                    <div>name: {{vm.name}}</div>
                    <div>HN: {{vm.HN}}</div>
                    <div>user name: {{username}}</div>
                    <div>NB: {{vm.NB}}</div>
                    <div>code:{{code}}</div>
                    <div>procedure: {{procedure}}</div>
                    <div>Med&supply: {{vm.mavgmed_sup}}</div>
                    <div>LAB&radio: {{vm.mavglab_radio}}</div>
                    <div>DF: {{vm.mavgdf}}</div>
                    <div>Others: {{vm.mavgothers}}</div>
                    <div>Room: {{vm.mavgroom}}</div>
                    <div>Total: {{vm.mavgmed_sup+vm.mavglab_radio+vm.mavgdf+vm.mavgothers+vm.mavgroom}}</div>
                  </div>
                  <div flex layout="row">

                    <button type="text" class="btn btn-success marginleft15" ng-click="PrintMe()"
                      data-placement="bottom" title="Save data" onmouseenter="$(this).tooltip('show')">
                      <span class="glyphicon glyphicon-print"></span>
                    </button>
                    <button type="text" class="btn btn-success marginleft15" ng-click="closeprint()"
                      data-placement="bottom" title="Save data" onmouseenter="$(this).tooltip('show')">
                      <span class="glyphicon glyphicon-backward"></span>
                    </button>
                  </div>
                </md-card-content>


              </md-card>

            </div>
          </md-content>
        </md-tab>
        <!-- page 4 -->
        <md-tab label="รายการยา" ng-click="">
          <!-- <md-content class="md-padding" style="height:90vH;"> -->
          <md-content class="md-padding" layout-xs="column" layout="row" style="height:90vH;">
            <!-- page 4 left -->
            <div flex-xs flex-gt-xs="20" layout="column">
              <md-card>
                <md-card-content>
                  <div class="pad0">
                    <button class="btn btn-basic width15vW" ng-click="setup_newdrug()" title="">
                      เพิ่มชื่อยาใหม่
                    </button>
                  </div>
                  <div class="pad0">
                    <button class="btn btn-basic width15vW" ng-click="list_drug()" title="">
                      รายการยาทั้งหมด
                    </button>
                  </div>
                  <div class="pad0">
                    <button class="btn btn-basic width15vW" ng-click="setup_UOM()" title="">
                      setup UOM
                      <!-- <span class="glyphicon glyphicon-save"></span> -->
                    </button>
                  </div>
                  <div class="pad0">
                    <button class="btn btn-basic width15vW" ng-click="setup_form()" title="">
                      setup form
                    </button>
                  </div>
                  <div class="pad0">
                    <button class="btn btn-basic width15vW" ng-click="setup_frequency()" title="">
                      setup frequency
                    </button>
                  </div>
                </md-card-content>
              </md-card>
            </div>
            <!-- page 4 right -->
            <div flex-xs flex-gt-xs="80" layout="column">

              <md-card>
                <div ng-if="" class="align-c fontxxl fontr5"> {{lbl_savedata}}</div>

                <md-card-content>
                  <div ng-if="show_p4==false" class="align-c fontxxl fontr5"> {{lbl_note}}</div>
                  <div ng-if="show_setup_newdrug">
                    <div flex layout="column" class="form-group">
                      <div class="padtop3 fontbg4">
                        <label>เพิ่มชื่อยาใหม่</label>
                      </div>
                      <div class="padleft">
                        <input type="text" name="i1" class="form-control width40vW" placeholder="trade name"
                          ng-model="vm.tradename" value="vm.tradename" />
                      </div>
                      <Br>
                      <div class="padleft">
                        <input type="text" name="i2" class="form-control width40vW" placeholder="generic name"
                          ng-model="vm.genericname" value="vm.genericname" />
                      </div>
                      <Br>
                      <div flex layout="row">
                        <div class="padleft">
                          <input type="text" name="i3" class="form-control width10vW" placeholder="default dose"
                            ng-model="vm.default_dose" value="vm.default_dose" />
                        </div>
                        <div class="marginleft15">
                          หน่วย : </div>
                        <select name="repeatSelect" class="form-control width20vW" id="repeatSelect"
                          ng-model="x.locallanguagedesc">
                          <option ng-repeat="x in UOM | orderBy:[ 'locallanguagedesc' ] "
                            value="{{x.locallanguagedesc}}">
                            {{x.locallanguagedesc}}</option>
                        </select>


                      </div>
                      <Br>


                      <md-content flex layout-padding>
                        Frequency :
                        <select name="repeatSelect" class="form-control width60vW" id="repeatSelect"
                          ng-model="y.locallangdesc">
                          <option ng-repeat="y in frequencies | orderBy:[ 'locallangdesc' ] "
                            value="{{y.locallangdesc}}">
                            {{y.locallangdesc}}</option>
                        </select>
                      </md-content>
                      <Br>

                      <md-content flex layout-padding>
                        Form :
                        <select name="repeatSelect" class="form-control width30vW" id="repeatSelect"
                          ng-model="z.valuedescription">
                          <option ng-repeat="z in form | orderBy:[ 'valuedescription' ] "
                            value="{{z.valuedescription}}">
                            {{z.valuedescription}}</option>
                        </select>
                      </md-content>

                      <Br>
                      <div class="padleft">
                        <button class="btn btn-basic width10vW"
                          ng-click="save_newdrug(vm.tradename,vm.genericname,vm.default_dose,y.locallangdesc,x.locallanguagedesc,z.valuedescription)"
                          title="">
                          บันทึก
                          <!-- <span class="glyphicon glyphicon-save"></span> -->
                        </button>
                      </div>
                    </div>
                  </div>
                  <div ng-if="show_listalldrug">
                    <div style="min-height: 70vH;max-height:70vH;overflow-y:scroll;">
                      <table class="table">
                        <tr ng-repeat="detail in alldrug | orderBy : 'tradename'">
                          <td class="text3">{{ $index + 1 }}</td>
                          <td class="align-l">{{detail.tradename}}</td>
                          <td class="align-l">{{detail.genericname}}</td>
                          <td class="align-l">{{detail.default_dose}}</td>
                          <td class="align-l">{{detail.UOM}}</td>
                          <td class="align-l">{{detail.form}}</td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div ng-if="show_setup_UOM">
                    <div flex layout="column" class="form-group">
                      <div flex layout="row">
                        <div class="padtop3 fontbg4">
                          <label>UOM</label>
                        </div>
                        <div class="padleft">
                          <input type="text" name="i1" class="form-control width20vW marginleft15" placeholder="Eng"
                            ng-model="vm.valuedescription" value="vm.valuedescription" />
                        </div>

                        <div class="padleft">
                          <input type="text" name="i2" class="form-control width20vW marginleft15" placeholder="ไทย"
                            ng-model="vm.locallanguagedesc" value="vm.locallanguagedesc" />
                        </div>
                        <div class="padleft">
                          <button class="btn btn-basic width10vW marginleft15"
                            ng-click="save_UOM(vm.valuedescription,vm.locallanguagedesc)" title="">
                            บันทึก
                            <!-- <span class="glyphicon glyphicon-save"></span> -->
                          </button>
                        </div>
                        <div class="padleft">
                          <button class="btn btn-basic width10vW marginleft15" ng-click="clear_UOM()" title="">
                            clear
                            <!-- <span class="glyphicon glyphicon-save"></span> -->
                          </button>
                        </div>
                      </div>
                      <div class=" fontr5">{{uomtxt}}</div>
                      <Br>

                      <!-- <div flex layout="row">
                        <div class="width10vW">status</div>
                        <div class="width15vW">
                          <input style="height: 2em;width: 30%;" type="radio" name="active" id="active" value="male"
                            ng-model="vm.statusflag" checked>
                          <label style="font-size: 1.2em;">
                            active
                          </label>
                        </div>
                        <div class=" width15vW">
                          <input style="height: 2em;width: 30%;" type="radio" name="cancel" id="cancel" value="female"
                            ng-model="vm.statusflag">
                          <label style="font-size: 1.2em;">
                            cancel
                          </label>
                        </div>
                      </div> -->


                    </div>
                    <div style="min-height: 70vH;max-height:70vH;overflow-y:scroll;">
                      <table class="table">
                        <tr ng-repeat="detail in UOM ">
                          <td class="text3">{{ $index + 1 }}</td>
                          <td class="align-l">{{detail.locallanguagedesc}}</td>
                          <td class="align-l">{{detail.valuedescription}}</td>
                          <td class="align-l">
                            <button class="btn btn-basic width10vW marginleft15"
                              ng-click="delete_UOM(detail.valuedescription,detail.locallanguagedesc,$index)" title="">
                              delete
                            </button>
                          </td>


                        </tr>
                      </table>
                    </div>
                  </div>
                  <div ng-if="show_setup_form">
                    <div flex layout="column" class="form-group">
                      <div flex layout="row">
                        <div class="padtop3 fontbg4">
                          <label>UOM</label>
                        </div>
                        <div class="padleft">
                          <input type="text" name="i1" class="form-control width20vW marginleft15" placeholder="Eng"
                            ng-model="vm.valuedescription" value="vm.valuedescription" />
                        </div>


                        <div class="padleft">
                          <button class="btn btn-basic width10vW marginleft15" ng-click="save_form(vm.valuedescription)"
                            title="">
                            บันทึก
                            <!-- <span class="glyphicon glyphicon-save"></span> -->
                          </button>
                        </div>
                        <div class="padleft">
                          <button class="btn btn-basic width10vW marginleft15" ng-click="clear_form()" title="">
                            clear
                            <!-- <span class="glyphicon glyphicon-save"></span> -->
                          </button>
                        </div>
                      </div>
                      <div class=" fontr5">{{formtxt}}</div>
                      <Br>
                    </div>
                    <div style="min-height: 70vH;max-height:70vH;overflow-y:scroll;">
                      <table class="table">
                        <tr ng-repeat="detail in form ">
                          <td class="text3">{{ $index + 1 }}</td>
                          <td class="align-l">{{detail.valuedescription}}</td>
                          <td class="align-l">
                            <button class="btn btn-basic width10vW marginleft15"
                              ng-click="delete_form(detail.valuedescription,$index)" title="">
                              delete
                            </button>
                          </td>


                        </tr>
                      </table>
                    </div>
                  </div>
                  <div ng-if="show_setup_frequency">
                    <div flex layout="column" class="form-group">
                      <div flex layout="row">
                        <div class="padtop3 fontbg4">
                          <label>frequency</label>
                        </div>
                        <div class="padleft">
                          <input type="text" name="i2" class="form-control width50vW marginleft15" placeholder="ไทย"
                            ng-model="vm.locallangdesc" value="vm.locallangdesc" />
                        </div>

                      </div>
                      <Br>
                      <div flex layout="row">
                        <div class="padleft">
                          <input type="text" name="i1" class="form-control width50vW marginleft15" placeholder="Eng"
                            ng-model="vm.description" value="vm.description" />
                        </div>
                        <div class="padleft">
                          <button class="btn btn-basic width10vW marginleft15"
                            ng-click="save_frequency(vm.description,vm.locallangdesc)" title="">
                            บันทึก
                            <!-- <span class="glyphicon glyphicon-save"></span> -->
                          </button>
                        </div>
                        <div class="padleft">
                          <button class="btn btn-basic width10vW marginleft15" ng-click="clear_frequency()" title="">
                            clear
                            <!-- <span class="glyphicon glyphicon-save"></span> -->
                          </button>
                        </div>
                      </div>
                      <div class=" fontr5">{{frequencytxt}}</div>
                      <Br>
                    </div>
                    <div style="min-height: 50vH;max-height:50vH;overflow-y:scroll;">
                      <table class="table">
                        <tr ng-repeat="detail in frequencies ">
                          <td class="text3">{{ $index + 1 }}</td>
                          <td class="align-l">{{detail.locallangdesc}}</td>
                          <td class="align-l">{{detail.description}}</td>
                          <td class="align-l">
                            <button class="btn btn-basic width10vW marginleft15"
                              ng-click="deletefrequency(detail.description,detail.locallangdesc,$index)" title="">
                              delete
                            </button>
                          </td>


                        </tr>
                      </table>
                    </div>
                  </div>
                </md-card-content>

              </md-card>

            </div>
          </md-content>
        </md-tab>
        <!-- page 5 -->
        <md-tab label="xxxxReport" ng-click="report()">
          <!-- <md-content class="md-padding" style="height:90vH;"> -->
          <md-content class="md-padding" layout-xs="column" layout="row" style="height:90vH;">
            <!-- {{show_report}} -->
            <!-- page 5 left -->
            <div flex-xs flex-gt-xs="25" layout="column">
              <!-- box left 1 calendar-->
              <md-card>

                <md-card-content>
                  <md-input-container>
                    <button type="submit" class="btn btn-primary width10vW" ng-click="rep_title()">Title</button>
                    <!-- <button type="submit" class="btn btn-primary width10vW" ng-click="rep_zipcode()">ZipCode</button> -->
                    <!-- <table class="font-1em ">
                              <tr ng-repeat="detail in repusername  | orderBy:'-count'">
                                <td>
        
                                  <button type="text" class="btn btn-info  margintop1 width20vW"
                                    ng-click="showreport(detail._id)" data-placement="bottom" title="showreport(detail._id)"
                                    onmouseenter="$(this).tooltip('show')">
                                    <div>{{detail._id}} ({{detail.count}} CASE)</div>
                                  </button>
        
                                </td>
                              </tr>
                            </table> -->
                  </md-input-container>
                </md-card-content>

              </md-card>

            </div>
            <!-- page 5 right -->
            <div flex-xs flex-gt-xs="75" layout="column">
              <!-- box right 1 -->
              <md-card=>
                <md-card-content>
                  <md-input-container style="width: 100%;">
                    <div flex-xs flex-gt-xs="100" layout="column">
                      <!-- <div flex layout="row"> -->

                      <div flex layout="row" style="justify-content: flex-end;max-height: 50px;">
                        <div>
                          <md-select ng-model="vm.selectedDownload" class=""
                            ng-change="downloadTypeChange(vm.selectedDownload)">
                            <md-option ng-repeat="fileType in vm.downloadSupports" ng-value="fileType"
                              ng-selected="fileType === vm.selectedDownload ? true: false">
                              {{fileType}}
                            </md-option>
                          </md-select>
                        </div>
                        <div>
                          <button class="btn btn-default" id="button1" ng-click="downloadFile(vm.selectedDownload)"
                            style="width: 60px; height: 40px">
                            <img src="../../app/image/download.png" alt="" style="width: 30px" />
                          </button>
                        </div>
                        <div>
                          <button class="btn btn-default" id="button2" ng-click="printFile()"
                            style="width: 60px; height: 40px">
                            <img src="../../app/image/print.png" alt="" style="width: 30px" />
                          </button>
                        </div>
                      </div>

                    </div>
                    <div id="mytable" style="margin-top: 0;min-height: 71vH;max-height:71vH;overflow-y:scroll;">
                    </div>
                  </md-input-container>
                </md-card-content>


                </md-card>

            </div>
          </md-content>
        </md-tab>
        <!-- page last -->
        <md-tab label="HOME" ng-click="gohome()">

          <md-content class="md-padding" layout-xs="column" layout="row" style="height:90vH;">

          </md-content>
        </md-tab>
      </md-tabs>
    </md-content>
  </div>

</form>